services:
  postgres:
    image: postgres:15
    container_name: postgres-auth
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - app-network

  auth-service:
    build:
      context: .
      target: local
    container_name: auth-service
    depends_on:
      - postgres
    ports:
      - "8083:8083"
    environment:
      # RabbitMQ
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest
    networks:
      - app-network
volumes:
  postgres_data:
networks:
  app-network:
    external: true
    name: eventure-network
